# Servidor
PORT=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario
DB_PASSWORD=clave
DB_NAME=rais

# URL base del repositorio OAI
BASE_URL=https://rais.unmsm.edu.pe/api/oai

# Paginacion
PAGE_SIZE=100

# Admin email del repositorio
ADMIN_EMAIL=rais@unmsm.edu.pe
